<a href="https://colab.research.google.com/github/pramod-sanghavi/Data-Science-work/blob/master/Pandas_CheatSheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Cheat Sheet

In [17]:
#dependency  
import pandas as pd #here pd is an alias

In [3]:
'''
What is Series?
Series is a 1d array capable of holding elements of heterogenous data types
''' 
series=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(series)
#series=pd.Series([1,2,3,4])
#print(series) #default of index is 0 to n-1
print(series[:2]) #slicing in series

a    1
b    2
c    3
d    4
dtype: int64
a    1
b    2
dtype: int64

In [18]:
'''
What is Data Frame?
It is a 2D data structure where one is denoted as columns and other as rows.
Each column can have different data types

'''
confidential_data={
    'Country':['Nepal','India','Srilanka'],
    'Name':['Binod','Vinod','Ravan'],
    'Marks':[25,35,45]
}
data=pd.DataFrame(confidential_data)
print(data)

    Country   Name  Marks
0     Nepal  Binod     25
1     India  Vinod     35
2  Srilanka  Ravan     45

In [19]:
#converting a data frame to csv
data.to_csv('dataframe.csv')

In [20]:
#reading data from csv file
df=pd.read_csv('dataframe.csv')
print(df)

   Unnamed: 0   Country   Name  Marks
0           0     Nepal  Binod     25
1           1     India  Vinod     35
2           2  Srilanka  Ravan     45

In [21]:
#Slicing data
df=df.iloc[:,1:]
print(df)

    Country   Name  Marks
0     Nepal  Binod     25
1     India  Vinod     35
2  Srilanka  Ravan     45

In [22]:
print('\nSecond row:\n',df.iloc[1]) #printing the first row

Second row:
 Country    India
Name       Vinod
Marks         35
Name: 1, dtype: object

In [23]:
print('\nFirst col:\n',df.iloc[:,0])

First col:
 0       Nepal
1       India
2    Srilanka
Name: Country, dtype: object

In [24]:
#adding a col to our data frame
df['id']=[1,2,3]
print(df)

    Country   Name  Marks  id
0     Nepal  Binod     25   1
1     India  Vinod     35   2
2  Srilanka  Ravan     45   3

In [25]:
#adding a row to our dataframe
row4={'Country':'USA','Name':'John','Marks':50,'id':5}
#print(df)
df1=df.append(row4,ignore_index=True)
print(df1)
#df.iloc[4,:].append(row4)

    Country   Name  Marks  id
0     Nepal  Binod     25   1
1     India  Vinod     35   2
2  Srilanka  Ravan     45   3
3       USA   John     50   5

In [26]:
#re writing a row
df1.iloc[2,:]=['India','Good boy',55,4]

In [27]:
print(df1)

  Country      Name  Marks  id
0   Nepal     Binod     25   1
1   India     Vinod     35   2
2   India  Good boy     55   4
3     USA      John     50   5

In [28]:
#printing the shape of the data frame
print('Shape is :',df1.shape)

#to print the cols of the dataframe
print('Cols are:',df1.columns)

#to find the total number of rows 
print('Total rows are:',len(df1.index))
#find the total no of cols 
print('Total cols are:',len(df1.columns)) 
#well you could have figured the no of rows and cols by seeing the shape itself.

Shape is : (4, 4)
Cols are: Index(['Country', 'Name', 'Marks', 'id'], dtype='object')
Total rows are: 4
Total cols are: 4

In [ ]:
#printing the sum of a specific row
print('Total marks of all students',df1['Marks'].sum()) 

#printing the max value from marks
print('\nMax marks are:',df1['Marks'].max()) #the same's for min()

#to describe the data frame as whole
print('\nDescribing data frame\n',df1.describe()) 
#so it will only show the statistical details of the cols with non string values.