# Practice Problem: Loan Prediction III

###Problem
---------------------------------
Company wants to automate the loan eligibility process (real time) based on customer detail provided while filling online application form. These details are Gender, Marital Status, Education, Number of Dependents, Income, Loan Amount, Credit History and others. To automate this process, they have given a problem to identify the customers segments, those are eligible for loan amount so that they can specifically target these customers. Here they have provided a partial data set.

In [1]:
#Participant Name:Pramod S Sanghavi
#Email : Pramod.san19@gmail.com

In [2]:

# Input data files are available in the "../Loan_Prediction_III/Data_Set/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("Data_Set"))

['sample_submission.csv', 'untitled.txt', '.ipynb_checkpoints', 'test.csv', 'train.csv']

In [3]:
#Imports important lib
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [4]:
#importing Training Data set using pandas read_csv()
train_df = pd.read_csv("Data_Set/train.csv")
#train_df.head()
#to get All Columns
train_df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [5]:
test_df = pd.read_csv("Data_Set/test.csv")
print(test_df.columns)

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [6]:
#Get Data Types of All column
train_df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [7]:
#Get test dataset all Data Types 
test_df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object

In [8]:
#train_df.info
train_df.shape

(614, 13)

In [9]:
#test_df.info
test_df.shape

(367, 12)

In [10]:
train_df.describe(include = 'all')#.style.format("{:5f}")#Becoz Some column has Str type valuse

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,614,601,611,599,614,582,614.000000,614.000000,592.000000,600.00000,564.000000,614,614
unique,614,2,2,4,2,2,NaN,NaN,NaN,NaN,NaN,3,2
top,LP002219,Male,Yes,0,Graduate,No,NaN,NaN,NaN,NaN,NaN,Semiurban,Y
freq,1,489,398,345,480,500,NaN,NaN,NaN,NaN,NaN,233,422
mean,NaN,NaN,NaN,NaN,NaN,NaN,5403.459283,1621.245798,146.412162,342.00000,0.842199,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,6109.041673,2926.248369,85.587325,65.12041,0.364878,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,150.000000,0.000000,9.000000,12.00000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2877.500000,0.000000,100.000000,360.00000,1.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,3812.500000,1188.500000,128.000000,360.00000,1.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,5795.000000,2297.250000,168.000000,360.00000,1.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,81000.000000,41667.000000,700.000000,480.00000,1.000000,NaN,NaN

In [11]:
test_df.describe(include = 'all')

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
count,367,356,367,357,367,344,367.000000,367.000000,362.000000,361.000000,338.000000,367
unique,367,2,2,4,2,2,NaN,NaN,NaN,NaN,NaN,3
top,LP001056,Male,Yes,0,Graduate,No,NaN,NaN,NaN,NaN,NaN,Urban
freq,1,286,233,200,283,307,NaN,NaN,NaN,NaN,NaN,140
mean,NaN,NaN,NaN,NaN,NaN,NaN,4805.599455,1569.577657,136.132597,342.537396,0.825444,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,4910.685399,2334.232099,61.366652,65.156643,0.380150,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,28.000000,6.000000,0.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2864.000000,0.000000,100.250000,360.000000,1.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,3786.000000,1025.000000,125.000000,360.000000,1.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,5060.000000,2430.500000,158.000000,360.000000,1.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,72529.000000,24000.000000,550.000000,480.000000,1.000000,NaN

In [12]:
#Check the train data has missing value
print(train_df.isnull().sum())
#to print Shape
print(train_df.shape)

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64
(614, 13)

In [13]:
#Check the test data has missing value
print(test_df.isnull().sum())
#to print Shape
print(test_df.shape)

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64
(367, 12)

#Droping Unnecessary columns of Trainning DS

In [14]:
# frequency count of column Dependents 
#count = train_df['Dependents'].value_counts() 
#print(count) 

#fill Dependents NaN values of dataset with '0' most frequent value
#train_df["Dependents"] = train_df["Dependents"].fillna(0)

#We will drop this column
train_df.drop('Dependents',axis="columns",inplace=True)
#This is not imp Column so drop it
train_df.drop('Loan_ID',axis="columns",inplace=True)

In [15]:
#For test DS 

test_df.drop('Dependents',axis="columns",inplace=True)
test_df.drop('Loan_ID',axis="columns",inplace=True)

In [16]:
#Now Shape of Train
print("Train DS Sahpe: ",train_df.shape)
print("-------------------------------")
print("Test DS Sahpe: ",test_df.shape)

Train DS Sahpe:  (614, 11)
-------------------------------
Test DS Sahpe:  (367, 10)

In [17]:
# frequency count of column Gender 
count = train_df['Gender'].value_counts() 
print(count)

Male      489
Female    112
Name: Gender, dtype: int64

In [18]:
#fll Gender NaN values of dataset with 'Male' most frequent value
train_df["Gender"] = train_df["Gender"].fillna("Male")

In [19]:
#For test DS
test_df["Gender"] = test_df["Gender"].fillna("Male")

In [20]:
train_df.dropna(subset=["Married"],axis=0,how='any',inplace=True)#only 3 rows hav NAN so Delete that rows
#print(train_df.isnull().sum())
#print(train_df.shape)

In [21]:
# frequency count of column Self_Employed
count = train_df['Self_Employed'].value_counts() 
print(count)

No     497
Yes     82
Name: Self_Employed, dtype: int64

In [22]:
#fll Self_Employed NaN values of dataset with 'No' most frequent value
train_df["Self_Employed"] = train_df["Self_Employed"].fillna("No")

In [23]:
#fll Self_Employed NaN values of dataset with 'No' most frequent value
test_df["Self_Employed"] = test_df["Self_Employed"].fillna("No")

In [24]:
#fll LoanAmount NaN values of dataset with median of Loan Amount 
train_df["LoanAmount"].fillna(train_df['LoanAmount'].median(), inplace = True)

In [25]:
#fll LoanAmount NaN values of dataset with median of Loan Amount 
test_df["LoanAmount"].fillna(test_df['LoanAmount'].median(), inplace = True)

In [26]:
#fll Loan_Amount_Term NaN values of dataset with median of Loan_Amount_Term 
train_df["Loan_Amount_Term"].fillna(train_df['Loan_Amount_Term'].median(), inplace = True)

In [27]:
#fll Loan_Amount_Term NaN values of dataset with median of Loan_Amount_Term 
test_df["Loan_Amount_Term"].fillna(test_df['Loan_Amount_Term'].median(), inplace = True)

In [28]:
# frequency count of column Credit_History
count = train_df['Credit_History'].value_counts() 
print(count)

1.0    472
0.0     89
Name: Credit_History, dtype: int64

In [29]:
#fll Credit_History NaN values of dataset with mode of Credit_History 
train_df["Credit_History"].fillna(train_df['Credit_History'].mode()[0], inplace = True)

In [30]:
#fll Credit_History NaN values of dataset with mode of Credit_History 
test_df["Credit_History"].fillna(test_df['Credit_History'].mode()[0], inplace = True)

In [31]:
#train_df
p,c=train_df.shape
print(p,"------",c)
#https://classeval.wordpress.com/introduction/basic-evaluation-measures/
#COnfusion Matrix

611 ------ 11

In [32]:
#for i in c-1:
print("-----------Train Data Types---------------")
print(train_df.dtypes)
print("-----------Train Check for NaN Missing Value Count---------------")
print(train_df.isnull().sum())
print("-----------Train DS Shape---------------")
print(train_df.shape)

-----------Train Data Types---------------
Gender                object
Married               object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object
-----------Train Check for NaN Missing Value Count---------------
Gender               0
Married              0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64
-----------Train DS Shape---------------
(611, 11)

In [33]:
print("-----------Test Data Types---------------")
print(test_df.dtypes)
print("-----------Test Check for NaN Missing Value Count---------------")
print(test_df.isnull().sum())
print("-----------Test DS Shape---------------")
print(test_df.shape)

-----------Test Data Types---------------
Gender                object
Married               object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object
-----------Test Check for NaN Missing Value Count---------------
Gender               0
Married              0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64
-----------Test DS Shape---------------
(367, 10)

In [34]:
#Conveerting Categorical Data Into Number using LabelEncoder

# Import label encoder 
from sklearn import preprocessing 
  
# label_encoder object knows how to understand word labels. 
le = preprocessing.LabelEncoder() 
  
# Encode labels in column 'Gender'. 
train_df['Gender']= le.fit_transform(train_df['Gender'])


# Encode labels in column 'Married'. 
train_df['Married']= le.fit_transform(train_df['Married'])

# Encode labels in column 'Education'. 
train_df['Education']= le.fit_transform(train_df['Education'])

# Encode labels in column 'Self_Employed'. 
train_df['Self_Employed']= le.fit_transform(train_df['Self_Employed'])

# Encode labels in column 'Property_Area'. 
train_df['Property_Area']= le.fit_transform(train_df['Property_Area'])

# Encode labels in column 'Property_Area'. 
train_df['Loan_Status']= le.fit_transform(train_df['Loan_Status'])

In [35]:
#For Test Data Set
# Import label encoder 
from sklearn import preprocessing 
  
# label_encoder object knows how to understand word labels. 
le = preprocessing.LabelEncoder() 
  
# Encode labels in column 'Gender'. 
test_df['Gender']= le.fit_transform(test_df['Gender'])


# Encode labels in column 'Married'. 
test_df['Married']= le.fit_transform(test_df['Married'])

# Encode labels in column 'Education'. 
test_df['Education']= le.fit_transform(test_df['Education'])

# Encode labels in column 'Self_Employed'. 
test_df['Self_Employed']= le.fit_transform(test_df['Self_Employed'])

# Encode labels in column 'Property_Area'. 
test_df['Property_Area']= le.fit_transform(test_df['Property_Area'])

In [36]:
#As we see we have 2 income sources i.e ApplicantIncome & CoapplicantIncome ....it can be total income by adding them

In [37]:
train_df['Total_Income']=train_df['ApplicantIncome']+train_df['CoapplicantIncome']

In [38]:
#We should drop that column which are not useful now 
train_df.drop('ApplicantIncome',axis="columns",inplace=True)
train_df.drop('CoapplicantIncome',axis="columns",inplace=True)

In [39]:
import numpy as np
train_df['Total_Income_log'] = np.log(train_df['Total_Income']) #Converting values in range of 0-1 by using log Function
train_df.drop('Total_Income',axis="columns",inplace=True)#Removing this column now

In [40]:
test_df["Total_Income"] = test_df['ApplicantIncome']+test_df["CoapplicantIncome"]
test_df.drop('CoapplicantIncome',axis="columns",inplace=True)
test_df.drop('ApplicantIncome',axis="columns",inplace=True)

In [41]:
import numpy as np
test_df['Total_Income_log'] = np.log(test_df['Total_Income']) 
test_df.drop('Total_Income',axis="columns",inplace=True)

In [42]:
#reading y_test from csv file
df = pd.read_csv("Data_Set/sample_submission.csv")
df.drop('Loan_ID',axis="columns",inplace=True)

In [43]:
# Encode labels in column 'Loan_Status'. 
df['Loan_Status']= le.fit_transform(df['Loan_Status'])

In [44]:
#X_train = train_df.drop(labels='Loan_Status',axis="columns")
train_df.drop(labels='Loan_Status',axis="columns")
X_train = train_df[["Gender","Married","Education","Self_Employed","LoanAmount","Loan_Amount_Term","Credit_History","Property_Area","Total_Income_log"]].values
#print(X_train)

In [45]:
y_train = train_df.Loan_Status

In [46]:
#X_test = test_df
X_test = test_df[["Gender","Married","Education","Self_Employed","LoanAmount","Loan_Amount_Term","Credit_History","Property_Area","Total_Income_log"]].values
#print(X_test)

In [47]:
y_test = df.Loan_Status
#print(y_test)

In [51]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features=[0,1,2,3,7])

In [49]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score,f1_score
from sklearn.metrics import confusion_matrix

tree_clf = DecisionTreeClassifier()
X_train = ohe.fit_transform(X_train).toarray()
tree_clf.fit(X_train,y_train)
y_pred = tree_clf.predict(X_train)
print("Training Data Set Accuracy: ", accuracy_score(y_train,y_pred))
print("Training Data F1 Score ", f1_score(y_train,y_pred))

print("Validation Mean F1 Score: ",cross_val_score(tree_clf,X_train,y_train,cv=5,scoring='f1_macro').mean())
print("Validation Mean Accuracy: ",cross_val_score(tree_clf,X_train,y_train,cv=5,scoring='accuracy').mean())
print("Model SCore",tree_clf.score(X_train,y_train))
#X_train  = ohe.fit_transform(X_train).toarray()

Training Data Set Accuracy:  1.0
Training Data F1 Score  1.0
Validation Mean F1 Score:  0.688715119494702
Validation Mean Accuracy:  0.7251164547954924
Model SCore 1.0

/home/shree/snap/jupyter/common/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)