In [27]:
import pandas as pd
import numpy as np
from sklearn import linear_model

import statsmodels.api as sm

In [3]:
df=pd.read_csv("homeprice.csv")
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [6]:
#Data Pre Processing ----> Fill that missing values with meadian 
df.bedroom.median()

3.5

In [8]:
# But Look bedroom Column is int so we have to convert into floor
import math
median_bedroom=math.floor(df.bedroom.median())
median_bedroom

3

In [9]:
#Fill this value for NaN using fillna()
df.bedroom.fillna(median_bedroom)

0    3.0
1    4.0
2    3.0
3    3.0
4    5.0
Name: bedroom, dtype: float64

In [23]:
#We also update that into our original data set 
df.bedroom=df.bedroom.fillna(median_bedroom)
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [36]:
x=df[['area','bedroom','age']]
y=df["price"]
# with statsmodels
x = sm.add_constant(x) # adding a constant
#print(x)
model = sm.OLS(y, x).fit() #Ordinary Least Squares
predictions = model.predict(x) 
 

model.summary()
#model.predict()
#print_model = model.summary()
#print(print_model)
#print(predictions)
#model.predictions([[3000,3,15]])

c:\users\shree\appdata\local\continuum\miniconda3\lib\site-packages\statsmodels\stats\stattools.py:71: ValueWarning: omni_normtest is not valid with less than 8 observations; 5 samples were given.
  "samples were given." % int(n), ValueWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.949
Model:                            OLS   Adj. R-squared:                  0.796
Method:                 Least Squares   F-statistic:                     6.188
Date:                Thu, 26 Sep 2019   Prob (F-statistic):              0.285
Time:                        04:04:50   Log-Likelihood:                -55.791
No. Observations:                   5   AIC:                             119.6
Df Residuals:                       1   BIC:                             118.0
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       3.837e+05   2.05e+05      1.875      0.312   -2.22e+06    2.98e+06
area         137.2500     54.580      2.515      0.241    -556.257     830.757
bedroom    -2.602e+04   5.66e+04     -0.460      0.726   -7.45e+05    6.93e+05
age        -6825.0000   5187.485     -1.316      0.414   -7.27e+04    5.91e+04
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   1.900
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.352
Skew:                           0.000   Prob(JB):                        0.839
Kurtosis:                       1.700   Cond. No.                     4.09e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.09e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [13]:
#apply linear regression to train our model using fit function
reg=linear_model.LinearRegression()
reg.fit(df[['area','bedroom','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
print("COE: ",reg.coef_)
print("Intercept: ",reg.intercept_)

COE:  [   137.25 -26025.    -6825.  ]
Intercept:  383724.99999999994

In [15]:
#m1, m2,m3
#b

In [16]:
reg.predict([[3000,3,15]])

array([615025.])

In [21]:
137.25*3000+(-26025.00)*3+(-6825.00)*15+383724.99

615024.99